.navList {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: auto;
}

li {
    list-style: none;
}

#container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: auto;
    margin-left: 10%;

}